<!DOCTYPE html>
<html lang="en">
    <head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title><%=bname%> <%=num%></title>
   		<link rel="stylesheet" href="/infoPage.css" type="text/css">
	</head>
	<body>
		<div class='header'>
			<h1><%=bname%> <%=num%></h1>
		</div>

		<div class='window'>
			<h3 class='header'>Basic Information</h3>
			<div class='infoColumns'>
				<div class='infoColumn'>
					<div class='infoItem'>
						<p>Capacity: <%=cap%></p>
					</div>
	
					<div class='infoItem'>
						<div class='leftItem'><p>Located in <%=bname%>, <%=floors%></p></div>
						<div class='rightItem'><a class='infoButton' href="/building/<%=bname%>">View</a> </div>
					</div>
	
					<div class='infoItem'>
						<p>Price: $<%=minPrice%> - $<%=maxPrice%></p>
					</div>
				</div>
				<div class='infoColumn'>
					<div class='infoItem'>
						<p>Kitchen: <%=kitchen%></p>
					</div>
	
					<div class='infoItem'>
						<p>Common Area: <%=commonAreaDesc%></p>
					</div>
	
					<div class='infoItem'>
						<p>Bathroom: <%=bathDesc%></p>
					</div>
				</div>
			</div>

			<div class='infoBody'>
				<h3 class='header'>Rooms:</h3>
				<% rooms.forEach(function(room) { %>
					<a class='button' href="/room/<%=bname%>-<%=room%>"><%=room%></a>
				<% }); %>
			</div>
		</div>

		<a class='button' href="../">Go Back</a>
	</body>
</html>
