<!DOCTYPE html>
<html lang="en">
    <head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Modify <%=entity%></title>
   		<link rel="stylesheet" href="/infoPage.css" type="text/css">
	</head>
	<body>
		<div class='header'>
			<h1>Modify <%=entity%></h1>
		</div>

		<div class='window'>
			<div class='infoColumns'>
				<% var pathArgs = "" %>
				<% columns.forEach(function(column) { %>
					<div class='infoColumn'>
						<% if (column.header.length !== 0) { %>
							<h3 class='header'><%=column.header%></h3>
						<% } %>
						<% Object.keys(column.attrs).forEach(function(id) { %>
							<div class='infoItem'>
								<div class='leftItem'><p><%=column.attrs[id]%></p></div>
								<div class='rightItem'><input id="input<%=id%>" value='<%=initialVals[id]%>'></div>
							</div>
							<% pathArgs += pathArgs.length === 0 ? "'" : "+'&"; %>
							<% pathArgs += id + "='+document.getElementById('input" + id + "').value"; %>
						<% }); %>
					</div>
				<% }); %>
			</div>

			<div class='infoBody'>
				<h3 class='header'>Actions:</h3>
				<a class='button' href='' onclick="href='/user-edit/<%=path%>?<%=pkey%>=<%=pkeyVal%>&' + <%=pathArgs%>">Update <%=entity%></a>
				<% if (errMsg.length !== 0) { %>
					<br>
				    <span class="error"><%=errMsg%></span>
				<% } %>
			</div>
		</div>

		<a class='button' href='/<%=path%>/<%=pkeyVal%>'>Go Back</a>
	</body>
</html>
